:root {
  --primary-color: #5fa8d3;
  --secondary-color: #ffcb47;
  --third-color: #ca2e55;
}
/****************************************************************************NavBar***********************************************************************/
nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--primary-color);
}
nav ul {
  /* padding: 0; */
  margin: 0;
  height: 6vh;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* justify-content: space-around; */
}
nav ul li {
  display: block;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 1700px) {
  nav ul {
    height: 8vh;
  }
}
@media only screen and (max-width: 750px) {
  nav ul {
    padding: 0;
    margin: 0;
    height: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-around; */
  }
  nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .item-a {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .item-b,
  .item-c {
    margin: 0.4rem;
  }
  /* .item-c {
    
  } */
}

.leadNav {
  font-size: 1.8rem;
  font-weight: 900;
}
/*******************************************************************HTML Tags**********************************************************************/
button {
  padding: 1rem 4rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 14.5rem;
  font-family: system-ui;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 1rem;
}
/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  top: 0;
  text-indent: 0;
}
iframe {
  width: -webkit-fill-available;
  max-width: 70rem;
  height: auto;
  /* margin: 0 3rem; */
  aspect-ratio: 16/9;
  border-color: lightyellow;
  border-style: solid;
  border-radius: 1rem;
  border-width: 4px;
}
@media only screen and (max-width: 750px) {
  button {
    font-size: 1.2rem;
  }
  /* iframe {
    margin: 0 0.5rem;
  } */
}
/*********************************************************************************Custom Classes************************************************************/
.tutorialSections {
  display: flex;
  /* height: 95vh; */
  padding: 2rem;
  align-items: center;
}
.primary-color {
  background: var(--primary-color);
}
.secondary-color {
  background: var(--secondary-color);
}
.third-color {
  background: var(--third-color);
}
.tutorialText {
  width: 50%;
  padding: 5rem;
  color: white;
  margin: 0;
}
.tutorialVideos {
  width: 50%;
  margin: 0 3rem;
}
@media only screen and (max-width: 1700px) {
  .tutorialSections {
    display: block;
    padding: 1rem 0.3rem;
  }
  .tutorialText {
    width: auto;
    padding: 4rem;
  }
  .tutorialVideos {
    width: auto;
  }
}
@media only screen and (max-width: 750px) {
  .tutorialSections {
    display: block;
  }
  .tutorialText {
    width: auto;
    padding: 3rem 0;
  }
  .tutorialText h1 {
    font-size: calc(0.9rem + 2vmin);
    margin-top: 0;
  }
  .tutorialText h2 {
    font-size: calc(0.7rem + 2vmin);
  }
  /* .tutorialVideos {
    width: auto;
  } */
}
/********************************************************StartUp CSS**************************************************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
