:root {
  --primary-color: #5fa8d3;
  --secondary-color: #ffcb47;
  --third-color: #ca2e55;
  --code-add-begin: #2ea04366;
  --code-add-middle: #2ea04342;
  --code-subtract: #f8514966;
}
/****************************************************************************NavBar***********************************************************************/
nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--primary-color);
}
nav ul {
  /* padding: 0; */
  margin: 0;
  height: 6vh;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* justify-content: space-around; */
}
nav ul li {
  display: block;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 1700px) {
  nav ul {
    height: 8vh;
    min-height: 3rem;
  }
}
@media only screen and (max-width: 750px) {
  nav ul {
    padding: 0;
    margin: 0;
    height: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-around; */
  }
  nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .item-a {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .item-b,
  .item-c {
    margin: 0.4rem;
  }
  /* .item-c {
    
  } */
}

.leadNav {
  font-size: 1.8rem;
  font-weight: 900;
}
/*******************************************************************HTML Tags**********************************************************************/
button {
  padding: 1rem 4rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 14.5rem;
  font-family: system-ui;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 1rem;
}
/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  top: 0;
  text-indent: 0;
}
iframe {
  width: -webkit-fill-available;
  max-width: 70rem;
  height: auto;
  /* margin: 0 3rem; */
  aspect-ratio: 16/9;
  border-color: lightyellow;
  border-style: solid;
  border-radius: 1rem;
  border-width: 4px;
}
@media only screen and (max-width: 1700px) {
  iframe {
    height: 38rem;
  }
}
@media only screen and (max-width: 750px) {
  button {
    font-size: 1.2rem;
  }
  iframe {
    height: calc(100% + 20rem);
  }
}
/*********************************************************************************Custom Classes************************************************************/
.tutorialSections {
  display: flex;
  /* height: 95vh; */
  padding: 2rem;
  align-items: center;
}
.primary-color {
  background: var(--primary-color);
}
.secondary-color {
  background: var(--secondary-color);
}
.third-color {
  background: var(--third-color);
}
.tutorialText {
  width: 50%;
  padding: 5rem;
  color: white;
  margin: 0;
}
.tutorialVideos {
  width: 50%;
  margin: 0 3rem;
}
@media only screen and (max-width: 1700px) {
  .tutorialSections {
    display: block;
    padding: 1rem 0.3rem;
  }
  .tutorialText {
    width: auto;
    padding: 4rem;
  }
  .tutorialVideos {
    width: auto;
  }
}
@media only screen and (max-width: 750px) {
  .tutorialSections {
    display: block;
  }
  .tutorialText {
    width: auto;
    padding: 3rem 0;
  }
  .tutorialText h1 {
    font-size: calc(0.9rem + 2vmin);
    margin-top: 0;
  }
  .tutorialText h2 {
    font-size: calc(0.7rem + 2vmin);
  }
  /* .tutorialVideos {
    width: auto;
  } */
}
/*************************************************************About Page************************************************************/
.aboutSection {
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: #40b0d6; */
  background: var(--primary-color);
}
.aboutImage {
  height: 100%;
  width: 50%;
}

.aboutText {
  width: 50%;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5rem;
}
.aboutText h1 {
  font-size: 4rem;
  text-decoration: underline;
}
.aboutText h2 {
  font-size: 2rem;
}
@media only screen and (max-width: 1700px) {
  .aboutSection {
    height: auto;
    /* background: #60a8d3; */
  }
  .aboutImage {
    display: none;
  }
  .aboutText {
    width: auto;
    padding: 0 2rem;
    margin: 4rem 0;
  }
  .aboutText h1 {
    font-size: calc(0.9rem + 2vmin);
  }
  .aboutText h2 {
    font-size: calc(0.7rem + 2vmin);
  }
}
/********************************************************StartUp CSS**************************************************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************************************************************Modal*********************************************************/
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.modal {
  background-color: white;
  width: 65%;
  min-width: 18rem;
  height: 65%;
  border-radius: 1rem;
  overflow: auto;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; */
}
.modal-header {
  background: white;
  text-align: left;
  font-size: 1.8rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1em;
}
.modal-cards {
  /* font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  border-radius: 1rem;
  font-size: 1.2rem;
  /* padding: 1em; */
  margin: 1rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.modal-cards ul {
  text-align: left;
  line-height: 24px;
  padding: 0 4rem;
}
.modal-cards img {
  width: 35%;
  border-radius: 1rem;
}
.modal-cards-header {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
}
.modal-empty-text {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.code-block[data-code-marker="codeLine"] {
  padding: 0 1rem;
}
.code-block[data-code-marker="-"]:before {
  content: attr(data-code-marker);
  padding: 8px;
}

.code-block-container {
  background: #0d1117;
  color: white;
  text-align: left;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* border-radius: 0.5rem;
  margin: 1rem; */
  padding: 1rem;
}
.code-block-container td {
  vertical-align: baseline;
}
@media only screen and (max-width: 750px) {
  .modal-cards {
    font-size: 1rem;
  }
  .modal-empty-text {
    font-size: 1.5rem;
  }
  .modal-header {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
  .code-block[data-code-marker="codeLine"] {
    padding: 0;
  }
  .modal-cards img {
    width: 100%;
    border-radius: 0;
  }
  .modal-bg {
    top: 5vh;
  }
}
@media (orientation: landscape) and (max-width: 750px) {
  .modal-bg {
    top: 14vh;
  }
}
